[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/kyuna0312/NyanVim
[submodule "themes/night-city-palettes"]
	path = themes/night-city-palettes
	url = https://github.com/kyuna0312/night-city-palettes
